<div class="container center">
  <div class="row">
    <div class="col-12">
      <h3 class="center">Лид был успешным?</h3>
    </div>
    <div class="col-6">
      <button
        type="button"
        mat-flat-button
        color="success"
        (click)="addQuality()"
      >Да <i class="material-icons right">check_circle</i>
      </button>
    </div>
    <div class="col-6">
      <button
        type="button"
        mat-flat-button
        color="danger"
        (click)="closeModal()"
      >Нет <i class="material-icons right">close</i>
      </button>
    </div>
  </div>
</div>
