.side-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .mat-drawer {
    min-width: 200px;
    background: #e6e7ec;
  }
}

.side-container nav {
  width: 30%;
}

