.bg-preloader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
