<h1 mat-dialog-title>
  {{(source.title) ?  "Редактирование источника" : "Новый источник"}}
</h1>
<div mat-dialog-content>
  <div class="row">
    <form [formGroup]="form" class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <mat-form-field class="full-width">
            <mat-label>Заголовок</mat-label>
            <input
              type="text"
              matInput
              formControlName="title"
              [ngClass]="{'invalid': f.title.hasError('required')}"
              placeholder="Заголовок"
            >
            <mat-error *ngIf="f.title.hasError('required')">
              <div>Обязательно к заполнению</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login_submit_button">
          <button
            type="submit"
            [disabled]="form.invalid"
            mat-flat-button
            color="primary"
          >Сохранить <i class="material-icons right">save</i></button>
        </div>
      </div>
    </form>
  </div>
</div>
