.analitics_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

tr {
  height: 60px;
}

th {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 15px;
  text-align: center!important;
}

h3 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem;
}

table {
  width: 100%;
  text-align: center;
}

i.material-icons {
  font-size: 18px;
}

.edit-button {
  background: #bbae1c;
  color: #fff;
  margin-right: 10px
}
